<mat-card>
  <mat-card-title align="center">Products</mat-card-title>
  <mat-card-content>

    <!-- Table: only shows if no product is selected -->
    <div *ngIf="!selectedProduct()">
      <button mat-raised-button color="primary" (click)="addNewProduct()">+ New Product</button>
      <table mat-table [dataSource]="productsTable" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear
             (matSortChange)="sortProducts($event)" class="mat-elevation-z2" style="margin-top:1rem">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let product" (click)="selectProduct(product)">
            {{ product.id }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
          <td mat-cell *matCellDef="let product" (click)="selectProduct(product)">
            {{ product.name }}
          </td>
        </ng-container>

        <!-- Vendor Column -->
        <ng-container matColumnDef="vendorName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendor </th>
          <td mat-cell *matCellDef="let product" (click)="selectProduct(product)">
            {{ vendorOfId(product.vendorId) }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
      </table>
    </div>

    <div *ngIf="selectedProduct()">
      <app-product-details
        [product]="selectedProduct()!"
        [vendors]="vendors()"
        (save)="onSaveProduct($event)"
        (delete)="onDeleteProduct($event)"
        (cancel)="onCancelEdit()"
        [existingIds]="productIds()">
      </app-product-details>
    </div>

  </mat-card-content>
</mat-card>
